@import '../theme/style/var.css';
/* @import '../theme/style/rainbow.css'; */
@import '../theme/style/blockquote.css';
@import '../theme/style/hidden.css';
@import '../theme/style/link.css';
/* style/index.css */




:root {
  --vp-c-default-1: var(--vp-c-gray-1);
  --vp-c-default-2: var(--vp-c-gray-2);
  --vp-c-default-3: var(--vp-c-gray-3);
  --vp-c-default-soft: var(--vp-c-gray-soft);

  --vp-c-brand-1: var(--vp-c-indigo-1);
  --vp-c-brand-2: var(--vp-c-indigo-2);
  --vp-c-brand-3: var(--vp-c-indigo-3);
  --vp-c-brand-soft: var(--vp-c-indigo-soft);

  --vp-c-tip-1: var(--vp-c-brand-1);
  --vp-c-tip-2: var(--vp-c-brand-2);
  --vp-c-tip-3: var(--vp-c-brand-3);
  --vp-c-tip-soft: var(--vp-c-brand-soft);

  --vp-c-warning-1: var(--vp-c-yellow-1);
  --vp-c-warning-2: var(--vp-c-yellow-2);
  --vp-c-warning-3: var(--vp-c-yellow-3);
  --vp-c-warning-soft: var(--vp-c-yellow-soft);

  --vp-c-danger-1: var(--vp-c-red-1);
  --vp-c-danger-2: var(--vp-c-red-2);
  --vp-c-danger-3: var(--vp-c-red-3);
  --vp-c-danger-soft: var(--vp-c-red-soft);
}



@media (min-width: 640px) {
  :root {
    --vp-home-hero-image-filter: blur(56px);
  }
}

@media (min-width: 960px) {
  :root {
    --vp-home-hero-image-filter: blur(68px);
  }
}

/**
 * Component: Custom Block
 * -------------------------------------------------------------------------- */

:root {
  --vp-custom-block-tip-border: transparent;
  --vp-custom-block-tip-text: var(--vp-c-text-1);
  --vp-custom-block-tip-bg: var(--vp-c-brand-soft);
  --vp-custom-block-tip-code-bg: var(--vp-c-brand-soft);
}

/**
 * Component: Algolia
 * -------------------------------------------------------------------------- */

.DocSearch {
  --docsearch-primary-color: var(--vp-c-brand-1) !important;
}


/* 首页 开始 按钮 */
.VPButton.brand[data-v-a6f37409] {
    border-color: #7f4ddb;
    color: var(--vp-button-brand-text);
    background-color: #7f4ddb;
}

.VPButton.brand[data-v-a6f37409]:hover {
    border-color: #8652e6;
    color: var(--vp-button-brand-text);
    background-color: #8652e6;
}

/* 导航栏进度条 */
.outline-marker[data-v-778bae50] {
  background-color: #7f4ddb;
}


/* 仅作用于首页 Hero 区域的 brand 按钮 */
.VPHome .VPHero .VPButton.brand {
  background-color: #7f4ddb;
  border-color: #7f4ddb;
}

/* 悬停状态 */
.VPHome .VPHero .VPButton.brand:hover {
  background-color: #8652e6;
  border-color: #8652e6;
}



/* 主页选项卡飘动动画 */
.VPFeatures .items .item {
    transition: transform .3s;
}

.VPFeatures .items .item:hover {
    transform: translateY(-5px);
}







/* hero 标题渐变动画 */

:root {
    --vp-home-hero-name-color: transparent;
    --vp-home-hero-name-background: -webkit-linear-gradient(120deg,
            #a569ff 30%,
            #6f42c1);

    --vp-home-hero-image-background-image: linear-gradient(-45deg,
            #a569ff 50%,
            #6f42c1 50%);
    --vp-home-hero-image-filter: blur(40px);
}


.VPHero .clip {
  background: linear-gradient(
    120deg,
    #8a27ec,
    #8f33ee,
    #9941f1,
    #a86af6,
    #b889fa,
    #d4a8ff,
    #b889fa,
    #a86af6,
    #9941f1,
    #8f33ee,
    #8a27ec
  );

  background-size: 250% 100%;

  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;

  animation: raidenHeroGradient 12s linear infinite;
}

@keyframes raidenHeroGradient {

  0% {
    background-position: 0% 50%;
  }

  25% {
    background-position: 50% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  75% {
    background-position: 50% 50%;
  }

  100% {
    background-position: 0% 50%;
  }

}